.tpfield {
    height: 100%;
    width: 200px;
    border: 1px solid gray;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid var(--Gray-300, #E8E8E8);
    padding: 10px;
    /* Body - Med 16(13.3) */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px; /* 83.125% */
    box-sizing: border-box;
}


/* Bootstrap 的 focus style */
.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* Media queries */
/* Note that these apply to the iframe, not the root window. */
@media screen and (max-width: 400px) {
    input {
        color: orange;
    }
}