<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/booking.css">
</head>
<body id="booking_body">
    <nav>
        <div class="nav_container">
            <a href="/">台北一日遊</a>
            <div class="btn">
                <button id="booking">預定行程</button>
                <button id="signin_up">登入/註冊</button>
            </div>
        </div>
    </nav>
    

    <header>
        <div class="headline">
            <p class="font_size19">您好，<span id="user_name"></span>，待預訂的行程如下：</p>
            <p id="emptyBooking"></p>
        </div>
    </header>
    <main>
    <section>
        <div class="booking_column">
            <div class="booking_img">
            </div>
            <div class="booking_info">
                <img class="trash" src="/static/images/trash.png">
                <div class="booking_name">
                    <p>台北一日遊：<span id="title"></span></p>
                </div>
                <div class="booking_item">
                    <p class="font_size16 " >日期：<span id="date" class="font_weight500"></span></p>
                   
                </div>
                <div class="booking_item">
                    <p class="font_size16">時間：<span id="time" class="p2  font_weight500"></span></p></div>
                <div class="booking_item">
                    <p class="font_size16">費用：<span id="price" class="p2 font_weight500"></span></p>
                </div>
                <div class="booking_item">
                    <p class="font_size16">地點：<span id="locat" class="p2 font_weight500"></span></p>
                </div>
            </div>
        </div>
    </section>
<hr>
   <section>
        <div class="title">
            <div class="t1">
            <p class="font_size19">您的聯絡資訊</p></div>
            <div class="input_item">
                <label class="font_weight500">聯絡姓名：</label>
                <input type="text">
            </div>
            <div class="input_item">
                <label class="font_weight500">連絡信箱：</label>
                <input type="email">
            </div>
            <div class="input_item">
                <label class="font_weight500">手機號碼：</label>
                <input type="text">
            </div>
            <div class="field_notice">
                <p class="font_size16">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
        </div>
   </section>
<hr>
    <section>
        <div class="title">
            <div class="t1">
            <p class="font_size19">信用卡付款資訊</p></div>
            <div class="input_item">
                <label class="font_weight500">卡片號碼：</label>
                <input type="password" placeholder="**** **** **** ****">
            </div>
            <div class="input_item">
                <label class="font_weight500">過期時間：</label>
                <input type="text" placeholder="MM/YY">
            </div>
            <div class="input_item">
                <label class="font_weight500">驗證密碼：</label>
                <input type="text" placeholder="CVV">
            </div>
            
        </div>
    </section>
    <hr>
    <section>
        <div class="confirm">
        <div class="field">
            <p class="font_size16">總價：新台幣 <span id="total"></span> 元</p>
        </div>
        <button class="confirm_btn">確認訂購並付款</button></div>
    </section>
</main> 

    
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <div class="signinContainer" style="display: none;">
        <div class="decorator-bar"></div>
        <div class="sign_main">
            <div class="close_in" >
                <img src="/static/images/close.png"></div>
            <div class="sign_title">
                <p>登入會員帳號</p>
            </div>
            <form id="signinForm">
            <div class="sign_input">
                <input type="email" id="signInEmail" placeholder="輸入電子郵件" >
            </div>
            <div class="sign_input">
                <input type="password" id="signInPassword" placeholder="輸入密碼" >
            </div>
            <button class="signBtn">登入帳戶</button></form>
            
            <div class="toSignup">
                
                <p>還沒有帳戶？<span id="signupLink">點此註冊</span></p>
            </div>
            </div>  
    </div>


    <div class="signupContainer" style="display: none;">
  
        <div class="decorator-bar"></div>
        <div class="sign_main">
            <div class="close_up" >
                <img src="/static/images/close.png"></div>
            <div class="sign_title">
                <p>註冊會員帳號</p>
            </div>
            <form id="signupForm">
            <div class="sign_input">
                <input type="text" id="signUpName" placeholder="輸入姓名" >
            </div>
            <div class="sign_input">
                <input type="email" id="signUpEmail" placeholder="輸入電子郵件" >
            </div>
            <div class="sign_input">
                <input type="password" id="signUpPassword" placeholder="輸入密碼" >
            </div>
            <button class="signBtn">註冊新帳戶</button>
           
            <div class="toSignin"></form>
                <p>已經有帳戶了？<span id="toSignin">點此登入</span></p>
            </div>
            </div>  
    </div>
    <script src="/static/attraction.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/booking.js"></script>
    <script src="/static/common.js"></script>
</body>
</html>

