<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/booking.css">
</head>
<body>
    <nav>
        <div class="nav_container">
            <a href="/">台北一日遊</a>
            <div class="btn">
                <button>預定行程</button>
                <button>登入/註冊</button>
            </div>
        </div>
    </nav>
    
<main>
    <header>
        <div class="headline">
            <p class="font_size19">您好，{{}}，待預訂的行程如下：</p>
        </div>
    </header>

    <section>
        <div class="booking_column">
            <div class="booking_img">
                <img src="/static/images/pic.jpg">
            </div>
            <div class="booking_info">
                <img class="trash" src="/static/images/trash.png">
                <div class="booking_name">
                    <p>台北一日遊：平安鐘</p>
                </div>
                <div class="booking_item">
                    <p class="font_size16 ">日期： <span class="font_weight500">2021-04-23</span></p>
                   
                </div>
                <div class="booking_item">
                    <p class="font_size16">時間：<span class="p2 font_weight500">早上 9 點到下午 4 點</span></p></div>
                <div class="booking_item">
                    <p class="font_size16">費用：<span class="p2 font_weight500">新台幣 2000 元</span></p>
                </div>
                <div class="booking_item">
                    <p class="font_size16">地點：<span class="p2 font_weight500">臺北市 大安區忠孝東路4段</span></p>
                </div>
            </div>
        </div>
    </section>
<hr>
   <section>
        <div class="title">
            <div class="t1">
            <p class="font_size19">您的聯絡資訊</p></div>
            <div class="input_item">
                <label class="font_weight500">聯絡姓名：</label>
                <input type="text">
            </div>
            <div class="input_item">
                <label class="font_weight500">連絡信箱：</label>
                <input type="email">
            </div>
            <div class="input_item">
                <label class="font_weight500">手機號碼：</label>
                <input type="text">
            </div>
            <div class="field_notice">
                <p class="font_size16">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
        </div>
   </section>
<hr>
    <section>
        <div class="title">
            <div class="t1">
            <p class="font_size19">信用卡付款資訊</p></div>
            <div class="input_item">
                <label class="font_weight500">卡片號碼：</label>
                <input type="password" placeholder="**** **** **** ****">
            </div>
            <div class="input_item">
                <label class="font_weight500">過期時間：</label>
                <input type="text" placeholder="MM/YY">
            </div>
            <div class="input_item">
                <label class="font_weight500">驗證密碼：</label>
                <input type="text" placeholder="CVV">
            </div>
            
        </div>
    </section>
</main> 
<hr>
    <section>
        <div class="confirm">
        <div class="field">
            <p class="font_size16">總價：新台幣 <span>2000</span> 元</p>
        </div>
        <button class="confirm_btn">確認訂購並付款</button></div>
    </section>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script src="/static/attraction.js"></script>
</body>
</html>
