<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" type="text/css" href="/static/thankyou.css">
    </head>
<body>
    <div class="overlay" style="display: none;"></div>

    <nav>
        <div class="nav_container">
            <a href="/">台北一日遊</a>
            <div class="btn">
                <button id="booking">預定行程</button>
                <button id="signin_up">登入/註冊</button>
            </div>
        </div>
    </nav>
    <main><div class="all">
        <div class="s1" >
            <h4 class="txt ">行程預定成功</h4>
            <h4 class="txt">您的訂單編號如下</h4></div>
        
        <div class="thankCotainer"></div>

        <div class="s1" >
            <h4 class="txt3">請記住此編號，或至會員中心查詢歷史訂單</h4></div></div>
        
    </main>
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <div class="signinContainer" style="display: none;">
        <div class="decorator-bar"></div>
        <div class="sign_main">
            <div class="close_in" >
                <img src="/static/images/close.png"></div>
            <div class="sign_title">
                <p>登入會員帳號</p>
            </div>
            <form id="signinForm">
            <div class="sign_input">
                <input type="email" id="signInEmail" placeholder="輸入電子郵件" >
            </div>
            <div class="sign_input">
                <input type="password" id="signInPassword" placeholder="輸入密碼" >
            </div>
            <button class="signBtn">登入帳戶</button></form>
            
            <div class="toSignup">
                
                <p>還沒有帳戶？<span id="signupLink">點此註冊</span></p>
            </div>
            </div>  
    </div>


    <div class="signupContainer" style="display: none;">
  
        <div class="decorator-bar"></div>
        <div class="sign_main">
            <div class="close_up" >
                <img src="/static/images/close.png"></div>
            <div class="sign_title">
                <p>註冊會員帳號</p>
            </div>
            <form id="signupForm">
            <div class="sign_input">
                <input type="text" id="signUpName" placeholder="輸入姓名" >
            </div>
            <div class="sign_input">
                <input type="email" id="signUpEmail" placeholder="輸入電子郵件" >
            </div>
            <div class="sign_input">
                <input type="password" id="signUpPassword" placeholder="輸入密碼" >
            </div>
            <button class="signBtn">註冊新帳戶</button>
           
            <div class="toSignin"></form>
                <p>已經有帳戶了？<span id="toSignin">點此登入</span></p>
            </div>
            </div>  
    </div>
    <script src="/static/common.js"></script>
    <script src="/static/thankyou.js"></script>
</body>
    <script>
        
        let localNumber=localStorage.getItem("orderNumber")
        
        let orderId = (window.location.href).split("=")[1]
        if(localNumber!==orderId){
            window.location.href="/"
        }
        else{
        let thankCotainer=document.querySelector(".thankCotainer")
        let thankNumber=document.createElement("h2")
        thankNumber.textContent=orderId
        thankNumber.classList.add("txt2")
        thankCotainer.appendChild(thankNumber)}
    </script>
</html>
